.MenuListItem {
    width: 100%;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 5vh;
    color: var(--text-light);
    background-color: var(--white);
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListItem .emoji {
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListItem .name {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }